{% extends "base.html" %}
{% block title %}LOGIN{% endblock %}

{% block current_user %}
Login
{% endblock %}

{% block content %}
<h2>LOGIN</h2>
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for msg in messages %}
<br><p>{{msg}}</p>
{% endfor %}
{% endif %}
{% endwith %}


<form action="" method="post">
    <form>
        <div class="mb-3">
            <label for="user_email" class="form-label">Email:</label>
            <input type="email" name="user_email" class="form-control" id="user_email" value="{{ request.form['email'] }}" required>
        </div>
        <div class="mb-3">
            <label for="user_password" class="form-label">Password:</label>
            <input type="password" name="user_password" class="form-control" id="user_password" required>
        </div>
        <span>Not a registered user? <a href="http://127.0.0.1:5000/create-user"
                                        class="link-success">Create an Account</a></span><br><br>
        <button type="submit" class="btn btn-primary">LOGIN</button>
    </form>
</form>
{% endblock %}